:80 {
  root * /srv/public
  encode zstd gzip

# PHP handling (same container; php-fpm listens on 127.0.0.1:9000)
  php_fastcgi 127.0.0.1:9000

  file_server

  header {
           -Server
           X-Content-Type-Options "nosniff"
           X-Frame-Options "DENY"
           Referrer-Policy "no-referrer"
         }

  log {
        output stdout
      }
}
